{
  "env": {
    "development": {
      "presets": [
        "./node_modules/babel-preset-es2015",
        "./node_modules/babel-preset-react"
      ],
      "ignore": [
        "src/**/*.css"
      ]
    },
    "test": {
      "presets": [
        "./node_modules/babel-preset-es2015",
        "./node_modules/babel-preset-react"
      ],
      "plugins": [
          ["./node_modules/babel-plugin-css-modules-transform", { "generateScopedName": "[name]__[local]___[hash:base64:5]" }]
      ]
    }
  }
}
