{
  "env": {
    "development": {
      "presets": [
        "babel-preset-es2015",
        "babel-preset-react"
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties"
      ],
      "ignore": [
        "src/**/*.mcss"
      ]
    },
    "test": {
      "presets": [
        "babel-preset-es2015",
        "babel-preset-react"
      ],
      "plugins": [
          ["transform-class-properties",
          "babel-plugin-css-modules-transform", {
            "generateScopedName": "[name]__[local]___[hash:base64:5]",
            "extensions": [".mcss"]
          }]
      ]
    }
  }
}
