{
  "env": {
    "development": {
      "presets": [
        "es2015",
        "react"
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties"
      ],
      "ignore": [
        "src/**/*.mcss"
      ]
    },
    "test": {
      "presets": [
        "es2015",
        "react"
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        ["babel-plugin-css-modules-transform", {
          "generateScopedName": "[name]__[local]___[hash:base64:5]",
          "extensions": [".mcss"]
        }]
      ]
    }
  }
}
